body {
    margin: 0;
}

.inb-top {
    box-shadow: rgb(0 0 0 / 20%) 0px 1% 2%;
    border-radius: 1em;
    overflow: hidden;
    background-color: #333;
    width: 80%;
    margin-left: 10%;
}

.inb-top a {
    float: left;
    font-size: 28px;
    color: white;
    text-decoration: none;
    background-color: #00000000;
    display: block;
    text-align: center;
    padding: 1% 1.5%;
}

.inb-top a:hover {
    background-color: gray;
}

a.active {
    text-decoration: underline;
    text-decoration-color: white;
}

#main1 {
    background-image: url(../pictures/Galaxy_blue.png);
    background-position: top center;
    background-attachment:scroll;
    background-size:cover;
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
    font-size: 28px;
}

h2 {
    color: black;
    font-size: 23px;
}

h3 {
    color:white;
    font-size: 25.5px
}

li a {
    color: black;
    font-size: 18px;
}

.content {
    padding: 5% 0;
    width: 80%;
    margin-left: 10%;
}

.box {
    background-color: grey;
    padding: 2%;
    box-shadow: rgb(0 0 0 / 20%) 0px 1% 2%;
    border-radius: 1em;
    margin-bottom: 5%;
}

.underbox {
    background-color: #F0B27A;
    padding: 2.1%;
    box-shadow: rgb(0 0 0 / 20%) 0px 1% 2%;
    border-radius: 1em;
    margin-top: 2.5%;
    overflow: hidden;
}

.download, .description {
    float: right;
    display: block;
    text-align: center;
    padding: 1% 1.5%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
    float: left;
    display: block;
    text-align: center;
    padding: 1% 1.5%;
}

footer{
    padding: 5% 12.5%;
    background-color: #404040;
    text-align: left;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

footer a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}